.docking-manager-background {
    background-color: darkslateblue;
}

.docking-grip {
    background-color: blue;
}

.docking-grip-vertical {
    cursor: ew-resize;
}

.docking-grip-horizontal {
    cursor: ns-resize;
}
